.root {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0 0.5rem 0;
  .optionsLine {
    flex-direction: line;
  }
  .optionsColumn {
    flex-direction: column;
  }
  .options {
    max-width: 100%;
    padding-right: 16px;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    padding-bottom: 1rem;
    label {
      color: rgba(0, 0, 0, 0.54);
      padding: 0;
      font-size: 1rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.00938em;
      text-align: left;
    }
    .selector {
      min-width: 180px;
      margin-bottom: 16px;
    }
    .decorationSelector {
      min-width: 100px;
      margin-right: 16px;
    }

    .textInput {
      margin-top: 1rem;
    }

    button {
      margin-bottom: 16px;
    }
    ul {
      padding: 0;
      list-style-type: none;
      width: 100%;
      display: flex;
      justify-content: space-around;
      text-align: left;
    }
  }
  .drawing {
    max-width: 100%;
    flex-grow: 1;
    width: 50%;
    box-sizing: border-box;
  }
}
.gridLine {
  stroke: gray;
}
