.anchor {
  &:hover {
    stroke: red;
    stroke-width: 2;
    cursor: pointer;
  }

  fill: transparent;
}
.anchor.empty {
  stroke: black;
  stroke-width: 2;
  fill: lightgray;
}
.anchor.full {
  stroke: black;
  stroke-width: 2;
  fill: black;
}

.anchor.selected,
.anchor.visible.selected {
  fill: red;
}

.magnet {
}
