.root {
  display: flex;
  flex-wrap: wrap;
  .options {
    max-width: 100%;
    padding-right: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .selector {
      min-width: 180px;
      margin-bottom: 1rem;
    }
    .textInput {
      margin-top: 1rem;
    }
    label {
      color: rgba(0, 0, 0, 0.54);
      padding: 0;
      font-size: 1rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.00938em;
      text-align: left;
    }
  }
  .drawing {
    max-width: 100%;
    flex-grow: 1;
    width: 50%;
    box-sizing: border-box;
  }
}
