.appBar {
  z-index: 1;
}
.toolBar {
  justify-content: space-between;
}
.contentContainer {
  padding: 64px 16px;
  text-align: center;
}
.content {
  max-width: 950px;
  margin: 8px auto;
  text-align: left;
  padding-top: 2rem;

  h2 {
    text-decoration: underline;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  pre {
    background-color: #1e1e1e;
    color: white;

    padding: 1rem;
    margin: 0 0 1rem 0;
    border-radius: 8px;
    overflow-x: auto;

    text-align: left;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  p {
    margin-bottom: 1rem;
    line-height: 1.4rem;
  }
  code {
    border-radius: 4px;
    background-color: lightgray;
    padding: 2px 4px;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  }
}
